/* Calculator */
.calculator {
  width: 400px;
  margin: 0 auto;
  padding: 20px;
  box-shadow: 10px 10px 10px silver;
  background: #fff;
}

/* Display */
input {
  width: 100%;
  height: 50px;
  font-size: 20px;
  text-align: right;
  padding-right: 10px;
  margin-bottom: 15px;
}

ul {
   display: flex;
  
}

/* Buttons */
ul li {
  height: 30px;
  width: 500px;
  display: inline;
  align-items: center;
  justify-content: center;
  background: #f1f1f1;
  font-size: 18px;
  padding: 10px;
  margin: 0 20px;
  border-radius: 5px;
}

ul li:hover {
  background: #ddd;
}
